.container{
    background-color: pink;
    display: flex;
    justify-content: space-around;
}

.item{
    width: 50px;
    height: 50px;
    background-color: royalblue;
    display:inline-block; /*inline은 보통 글자에 주는 속성이다.*/
}