<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Throw</h1>
    <form action="/catch/" method="GET">
        <input type="text" name="message">
        <input type="text" name="message2">
        <input type="submit">
        {% comment %} <button>제출</button> {# type="submit"이 생략되어 있다. input보다는 나중에는 button태그가 좋음! #} {% endcomment %}        
    </form>
</body>
</html>